#footer_deal
  if theme.footer.footer_icons.enable
      each i in theme.footer.footer_icons.left
        if i.class == "in"
          a.deal_link(href=`${i.link}`, title=`${i.desrc}`)
            i(class=`${i.icon}`)
        else if i.class == "out"
          a.deal_link(target='_blank', rel='noopener external nofollow', href=`${i.link}`, title=`${i.desrc}`)
            i(class=`${i.icon}`)
        else 
          a.deal_link(href=`${i.link}`, title=`${i.desrc}`)
            i(class=`${i.icon}`)
  img.footer_mini_logo.entered.loading(style="border-radius:50%" src=url_for(theme.footer.avatar) onclick="btf.scrollToDest(0,500)" title="返回顶部")
  if theme.footer.footer_icons.enable
      each i in theme.footer.footer_icons.right 
        if i.class == "in"
          a.deal_link(href=`${i.link}`, title=`${i.desrc}`)
            i(class=`${i.icon}`)
        else if i.class == "out"
          a.deal_link(target='_blank', rel='noopener external nofollow', href=`${i.link}`, title=`${i.desrc}`)
            i(class=`${i.icon}`)
        else 
          a.deal_link(href=`${i.link}`, title=`${i.desrc}`)
            i(class=`${i.icon}`)
#Jay-footer
  .footer-group
    h3.footer-title=`${theme.footer.line_1_title}`
    .footer-links
      a.footer-item(href=url_for(theme.footer.line_1.item_1.link))=`${theme.footer.line_1.item_1.name}`
      a.footer-item(href=url_for(theme.footer.line_1.item_2.link))=`${theme.footer.line_1.item_2.name}`
      a.footer-item(href=url_for(theme.footer.line_1.item_3.link))=`${theme.footer.line_1.item_3.name}`
      a.footer-item(href=url_for(theme.footer.line_1.item_4.link))=`${theme.footer.line_1.item_4.name}`
  .footer-group
    h3.footer-title=`${theme.footer.line_2_title}`
    .footer-links
      a.footer-item(href=url_for(theme.footer.line_2.item_1.link))=`${theme.footer.line_2.item_1.name}`
      a.footer-item(href=url_for(theme.footer.line_2.item_2.link))=`${theme.footer.line_2.item_2.name}`
      a.footer-item(href=url_for(theme.footer.line_2.item_3.link))=`${theme.footer.line_2.item_3.name}`
      a.footer-item(href=url_for(theme.footer.line_2.item_4.link))=`${theme.footer.line_2.item_4.name}`
  .footer-group
    h3.footer-title=`${theme.footer.line_3_title}`
    .footer-links
      a.footer-item(href=url_for(theme.footer.line_3.item_1.link))=`${theme.footer.line_3.item_1.name}`
      a.footer-item(href=url_for(theme.footer.line_3.item_2.link))=`${theme.footer.line_3.item_2.name}`
      a.footer-item(href=url_for(theme.footer.line_3.item_3.link))=`${theme.footer.line_3.item_3.name}`
      a.footer-item(href=url_for(theme.footer.line_3.item_4.link))=`${theme.footer.line_3.item_4.name}`
  .footer-group
    h3.footer-title=`${theme.footer.line_4_title}`
    .footer-links
      a.footer-item(href=url_for(theme.footer.line_4.item_1.link))=`${theme.footer.line_4.item_1.name}`
      a.footer-item(href=url_for(theme.footer.line_4.item_2.link))=`${theme.footer.line_4.item_2.name}`
      a.footer-item(href=url_for(theme.footer.line_4.item_3.link))=`${theme.footer.line_4.item_3.name}`
      a.footer-item(href=url_for(theme.footer.line_4.item_4.link))=`${theme.footer.line_4.item_4.name}`
#footer-banner
  .footer-banner-links
    .footer-banner-left
      .footer-banner-left
        #footer-banner-tips=`${theme.footer.text}`

    .footer-banner-right
      a.footer-banner-link(href="https://hexo.io/zh-cn/" title="Hexo") 框架：Hexo
      a.footer-banner-link |
      a.footer-banner-link(href="/2023/dimension" title="theme") 主题：dimension
      a.footer-banner-link |
      a.footer-banner-link(href="/about/" title="about") 关于
      a.footer-banner-link |
      a.footer-banner-link.cc(href="/cc/" title="cc协议")
        i.fab.fa-creative-commons
        span 协议。
  